@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: #0F0F0F;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

/* header */
.mobile_header-blur{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.621);
    z-index: 999;
    cursor: pointer;
}
.mobile_header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100px;
    z-index: 1000;
    padding: 2rem;
    background: rgb(83,0,87);
    background: linear-gradient(273deg, rgba(83,0,87,1) 0%, rgba(25,25,25,1) 100%);
    border-radius: 0 0 1rem 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgb(143, 0, 150);
}

.mobile_header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 1rem;
}

.mobile_header ul li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: hsl(0, 0%, 45%);
    text-align: center;
    transition: 0.5s;
}
.mobile_header ul li a:hover {
    color: white;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

header ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: hsl(0, 0%, 45%);
    text-decoration: none;
    transition: 0.5s;
}

header ul li a:hover {
    color: hsl(0, 0%, 100%);
}

header .talk {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.875rem 2rem;
    margin: 0;
    border-radius: 14px;
    background-color: hsl(0, 0%, 15%);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;

}

header .talk i {
    font-size: 1.125rem;
}


header .talk:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;

}

header h2 {
    color: white;
}

header .burger {
    display: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.bx-x {
    display: none;
    color: white;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 1.5rem;
    cursor: pointer;
}

/* main */
/* main */
/* main */
/* main */

main {
    margin: 5rem 0;
    color: white;
}

main h3 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

main p {
    color: hsl(0, 0%, 45%);
}
main img{
    width: 100%;
    margin: 2rem 0;
}
.editor-line{
    display: flex;
    width: 100%;
    border: 1px solid hsl(0, 0%, 40%);
    margin: 10px 0 20px 0;
}
.code-editor {
    position: relative;
    background-color: #2d2d2d;
    border-radius: 8px;
    padding: 20px;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.code-editor pre {
    margin: 0;
}

.code-editor .copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.code-editor .copy-btn:hover {
    background-color: #e68900;
}

.code-editor .line-numbers {
    counter-reset: line;
}

.code-editor .line-numbers span {
    display: inline-block;
    text-align: right;
    width: 30px;
    margin-right: 10px;
    color: #757575;
    user-select: none;
}

.code-editor .line-numbers span:before {
    counter-increment: line;
    content: counter(line);
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: #0F0F0F;
        padding: 0 2rem;
        max-width: 900px;
    }

    /* header */
    .bx-x {
        display: block;
    }

    header ul {
        display: none;
    }

    header .talk {
        display: none;
    }

    header .burger {
        display: block;
    }

}

@media only screen and (max-width: 600px) {
    .mobile_header ul li a {
        font-size: 1rem;
        text-decoration: none;
        color: hsl(0, 0%, 45%);
        text-align: center;
        transition: 0.5s;
    }
}